<!DOCTYPE html>
<html>
<head>
  <title>Thebot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script src= "https://platform.twitter.com/widgets.js"></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
  <script src="/path/to/masonry.pkgd.min.js"></script>
</head>
<body>


  <ul class = "nav nav-tabs">
    <% if current_user %>
    <div>
      <ul>
        <li>Welcome Back <%= current_user.username %>!<a href = "/account"><img src = "<%= current_user.avatar_url %>" class = "avatar"><img></a></li>
        <li>Work With Us</li>
        <li><%= link_to "Sign Out", signout_path, :class => "signout" %></li>
      </ul>
    </div>
    <a href = "/"><li>Home</li></a>
    <% else %>
      <li>About</li>
      <li>Work With Us</li>
      <a href = "/"><li>Home</li></a>
    <%end %>
  </ul>

<%= yield %>

  <footer>
    <div class = "row">
      <div class = "col-lg-12">
        <div class = "row">
          <div class = "col-lg-4">
            section 1
          </div>
          <div class = "col-lg-4">
            section 2
          </div>
          <div class = "col-lg-4">
            section 3
          </div>
        </div>
      </div>
    </div>
  </footer>

 <%= javascript_include_tag :application %>
<script type="text/javascript" src="slick/slick.min.js"></script>
</body>

</html>
